
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>楽天生命：お問い合わせ入力フォーム</title>
    <meta name="keywords" content="楽天保険,楽天生命保険,楽天生保,インターネット,ネット,保険会社,ネット保険,生命保険">
    <meta name="description" content="楽天生命保険へのお問い合わせ">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <link href="/shared/css/reset.css" rel="stylesheet">
    <link href="/shared/css/basic.css" rel="stylesheet">
    <link href="/shared/css/sub.css" rel="stylesheet">
    <link href="/shared/css/magnific-popup.css" rel="stylesheet">
    <link href="/shared/css/seminar.css" rel="stylesheet">

    <script src="/shared/js/lib.js"></script>
</head>
<body>
<div id="container">
    <header id="header">
        <div class="header-inner">
            <h1 class="logo"><img src="/shared/img/common/logo.png" alt="楽天生命"><span>代理店募集</span></h1>
            <nav>
                <ul class="main-nav">
                    <li><a href="/">ホーム</a></li>
                    <li><a href="/about/">代理店制度について</a></li>
                    <li class="current"><a href="/seminar/apply/input/">説明会への参加申込み</a></li>
                </ul>
                <ul class="sub-nav">
                    <li class="corpsite"><a href="http://www.rakuten-life.co.jp/" target="_blank">楽天生命ホーム</a></li>
                </ul>
            </nav>
        </div>
        <div id="page-ttl">
            <h1>楽天生命説明会への参加申込み</h1>
        </div>
    </header>

    <main id="content" class="tbl-seminar-main">
        <section class="info">
            <div class="section-inner">
                <h2>楽天生命説明会とは</h2>
                <p>法人・個人のどちらでもお申込みいただけます。<br>
                    楽天、楽天生命とはどのような会社か、また当社と代理店委託契約を結ぶまでの流れなどについてご説明させていただきます。</p>
                <table class="tbl-seminar">
                    <tbody>
                    <tr>
                        <th>説明会ご対象者様</th>
                        <td>今後楽天生命の代理店としての活動をご検討の方</td>
                    </tr>
                    <tr>
                        <th>説明会所要時間</th>
                        <td>約2時間</td>
                    </tr>
                    <tr>
                        <th>コンテンツ</th>
                        <td><ul class="lst-contents">
                                <li>楽天生命概要、沿革</li>
                                <li>保険の目的について</li>
                                <li>楽天生命の保険商品の特徴</li>
                                <li>楽天生命の代理店制度の特徴</li>
                                <li>育成代理店制度について</li>
                                <li>サポート体制について</li>
                                <li>手数料モデル</li>
                            </ul></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <section>
            <div class="section-inner" id="link-title">
                <h2>楽天生命説明会　参加申込み</h2>
                <p>下記項目をご入力の上、画面下部「送信内容を確認」を押してください。</p>
                <p>※エリア・都道府県を選択すると、ご希望エリアの楽天生命説明会開催スケジュールが表示されます。</p>
                <p>一部のスマートフォンブラウザによっては表示できないことがあります。<br>その場合、お手数ですが他のブラウザもしくはパソコンでお申込みください。</p>
                <form action="https://partner.rakuten-life.co.jp/seminar/apply/submit/" method="POST" name="form01">
                    <input type="hidden" name="ichigo" value="A41976481580cd0a97">                    <!-- ERROR START -->
                    <!-- ERROR END -->
                    <table class="tbl-seminar">
                        <tr>
                            <th>エリアを選択してください<small class="required">必須</small></th>
                            <td class="" ><div class="select-wrap">
                                    <select name="area" id="area">
                                        <option value="">--</option>
                                        <option value="北海道" >北海道</option>
                                        <option value="東北" >東北</option>
                                        <option value="関東" >関東</option>
                                        <option value="東海" >東海・北陸</option>
                                        <option value="関西" >関西</option>
                                        <option value="中国" >中国</option>
                                        <option value="四国" >四国</option>
                                        <option value="九州" >九州・沖縄</option>
                                    </select>
                                </div></td>
                        </tr>
                        <tr>
                            <th>都道府県を選択してください<small class="required">必須</small></th>
                            <td class="" ><div class="select-wrap">
                                    <select name="seminar_state" id="pref">
                                        <option value="" selected>--</option>
                                        <option value="01" data-area="北海道" >北海道</option>
                                        <option value="02" data-area="東北" >青森県</option>
                                        <option value="03" data-area="東北" >岩手県</option>
                                        <option value="04" data-area="東北" >宮城県</option>
                                        <option value="05" data-area="東北" >秋田県</option>
                                        <option value="06" data-area="東北" >山形県</option>
                                        <option value="07" data-area="東北" >福島県</option>
                                        <option value="08" data-area="関東" >茨城県</option>
                                        <option value="09" data-area="関東" >栃木県</option>
                                        <option value="10" data-area="関東" >群馬県</option>
                                        <option value="11" data-area="関東" >埼玉県</option>
                                        <option value="12" data-area="関東" >千葉県</option>
                                        <option value="13" data-area="関東" >東京都</option>
                                        <option value="14" data-area="関東" >神奈川県</option>
                                        <option value="15" data-area="東海" >新潟県</option>
                                        <option value="16" data-area="東海" >富山県</option>
                                        <option value="17" data-area="東海" >石川県</option>
                                        <option value="18" data-area="東海" >福井県</option>
                                        <option value="19" data-area="東海" >山梨県</option>
                                        <option value="20" data-area="東海" >長野県</option>
                                        <option value="21" data-area="東海" >岐阜県</option>
                                        <option value="22" data-area="東海" >静岡県</option>
                                        <option value="23" data-area="東海" >愛知県</option>
                                        <option value="24" data-area="東海" >三重県</option>
                                        <option value="25" data-area="関西" >滋賀県</option>
                                        <option value="26" data-area="関西" >京都府</option>
                                        <option value="27" data-area="関西" >大阪府</option>
                                        <option value="28" data-area="関西" >兵庫県</option>
                                        <option value="29" data-area="関西" >奈良県</option>
                                        <option value="30" data-area="関西" >和歌山県</option>
                                        <option value="31" data-area="中国" >鳥取県</option>
                                        <option value="32" data-area="中国" >島根県</option>
                                        <option value="33" data-area="中国" >岡山県</option>
                                        <option value="34" data-area="中国" >広島県</option>
                                        <option value="35" data-area="中国" >山口県</option>
                                        <option value="36" data-area="四国" >徳島県</option>
                                        <option value="37" data-area="四国" >香川県</option>
                                        <option value="38" data-area="四国" >愛媛県</option>
                                        <option value="39" data-area="四国" >高知県</option>
                                        <option value="40" data-area="九州" >福岡県</option>
                                        <option value="41" data-area="九州" >佐賀県</option>
                                        <option value="42" data-area="九州" >長崎県</option>
                                        <option value="43" data-area="九州" >熊本県</option>
                                        <option value="44" data-area="九州" >大分県</option>
                                        <option value="45" data-area="九州" >宮崎県</option>
                                        <option value="46" data-area="九州" >鹿児島県</option>
                                        <option value="47" data-area="九州" >沖縄県</option>
                                    </select>
                                </div></td>
                        </tr>
                        <tr class="seminar" id="hasSchedule" style="display:none">
                            <th>説明会参加希望日<small class="required">必須</small></th>
                            <td class="" >
                                <ul>
                                    <div id="inline-wrap" class="mfp-hide">
                                        <dl class="detail">
                                            <dt>開催日時：</dt>
                                            <dd class="date" id="map_date"></dd>
                                            <dt>会場：</dt>
                                            <dd class="address">札幌市中央区北5条西5-2-5信金中央金庫ビル8F 北海道営業部</dd>
                                            <dt>担当：</dt>
                                            <dd class="responsible">北海道営業部</dd>
                                            <dt>連絡先：</dt>
                                            <dd class="tel">050-5893-451</dd>
                                        </dl>
                                        <div id="map_canvas"> </div>
                                    </div>

                                    <div id="seminarListDiv"/>
                                </ul>
                            </td>
                        </tr>
                        <tr id="noSchedule" style="display:none">
                            <th>説明会参加希望日<small class="required">必須</small></th>
                            <td><p>申し訳ございません。ご希望の地域での直近の開催予定がございません。お手数ですが、近隣都道府県でのご参加をご検討ください。</p></td>
                        </tr>
                        <tr>
                            <th>お名前（漢字）<small class="required">必須</small></th>
                            <td class="inpt-name  "><label for="lastName">姓</label>
                                <input type="text" name="lastname" id="lastName" title="例）楽天" maxlength="20" value="">
                                <label for="firstName" >名</label>
                                <input type="text" name="firstname" id="firstName" title="例）太郎" maxlength="20" value="">
                            </td>
                        </tr>
                        <tr>
                            <th>お名前（フリガナ）<small class="required">必須</small></th>
                            <td class="inpt-name  "><label for="lastName_kana">セイ</label>
                                <input type="text" name="lastname_kana" id="lastName_kana" title="例）ラクテン" maxlength="20" value="">
                                <label for="firstName_kana">メイ</label>
                                <input type="text" name="firstname_kana" id="firstName_kana" title="例）タロウ" maxlength="20" value="">
                            </td>
                        </tr>
                        <tr>
                            <th>性別<small class="required">必須</small></th>
                            <td class="inpt-gender  ">
                                <label class="radio">
                                    <input type="radio" name="gender" value="1" >
                                    <span>男性</span>
                                </label>
                                <label class="radio">
                                    <input type="radio" name="gender"  value="2" >
                                    <span>女性</span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <th>年齢<small class="required">必須</small></th>
                            <td class="inpt-age  ">
                                <input type="text" name="customer_age" style="ime-mode: disabled;" value="" maxlength="3" onkeydown="return key_down(event.keyCode)" pattern="[0-9]*">
                                歳 </td>
                        </tr>
                        <tr>
                            <th>都道府県（おすまい）<small class="required">必須</small></th>
                            <td class="  "><div class="select-wrap">
                                    <select name="prefecture" id="prefecture">
                                        <option value="" selected>都道府県</option>
                                        <option value="01" >北海道</option>
                                        <option value="02" >青森県</option>
                                        <option value="03" >岩手県</option>
                                        <option value="04" >宮城県</option>
                                        <option value="05" >秋田県</option>
                                        <option value="06" >山形県</option>
                                        <option value="07" >福島県</option>
                                        <option value="08" >茨城県</option>
                                        <option value="09" >栃木県</option>
                                        <option value="10" >群馬県</option>
                                        <option value="11" >埼玉県</option>
                                        <option value="12" >千葉県</option>
                                        <option value="13" >東京都</option>
                                        <option value="14" >神奈川県</option>
                                        <option value="15" >新潟県</option>
                                        <option value="16" >富山県</option>
                                        <option value="17" >石川県</option>
                                        <option value="18" >福井県</option>
                                        <option value="19" >山梨県</option>
                                        <option value="20" >長野県</option>
                                        <option value="21" >岐阜県</option>
                                        <option value="22" >静岡県</option>
                                        <option value="23" >愛知県</option>
                                        <option value="24" >三重県</option>
                                        <option value="25" >滋賀県</option>
                                        <option value="26" >京都府</option>
                                        <option value="27" >大阪府</option>
                                        <option value="28" >兵庫県</option>
                                        <option value="29" >奈良県</option>
                                        <option value="30" >和歌山県</option>
                                        <option value="31" >鳥取県</option>
                                        <option value="32" >島根県</option>
                                        <option value="33" >岡山県</option>
                                        <option value="34" >広島県</option>
                                        <option value="35" >山口県</option>
                                        <option value="36" >徳島県</option>
                                        <option value="37" >香川県</option>
                                        <option value="38" >愛媛県</option>
                                        <option value="39" >高知県</option>
                                        <option value="40" >福岡県</option>
                                        <option value="41" >佐賀県</option>
                                        <option value="42" >長崎県</option>
                                        <option value="43" >熊本県</option>
                                        <option value="44" >大分県</option>
                                        <option value="45" >宮崎県</option>
                                        <option value="46" >鹿児島県</option>
                                        <option value="47" >沖縄県</option>
                                    </select>
                                </div></td>
                        </tr>
                        <tr>
                            <th>ご連絡可能な電話番号<small class="required">必須</small></th>
                            <td class="inpt-phone  "><input type="text" name="phone_num1" title="例）03" maxlength="5" value="">
                                -
                                <input type="text" name="phone_num2" title="例）1234" maxlength="4" value="">
                                -
                                <input type="text" name="phone_num3" title="例）5678" maxlength="4" value=""></td>
                        </tr>
                        <tr>
                            <th>メールアドレス<small class="required">必須</small></th>
                            <td class="inpt-email  "><input type="text" name="email" title="例）rakutentaro@rakuten-life.co.jp" maxlength="80" value="">
                                <p>確認のためもう一度ご入力ください。</p>
                                <input type="text" name="confirm_email" title="例）rakutentaro@rakuten-life.co.jp" maxlength="80" value=""></td>
                        </tr>
                        <tr>
                            <th>職業<small class="required">必須</small></th>
                            <td class="  "><label class="radio">
                                    <input type="radio" name="job" value="1" >
                                    <span>会社員</span></label>
                                <label class="radio">
                                    <input type="radio" name="job" value="2" >
                                    <span>自営業</span></label>
                                <label class="radio">
                                    <input type="radio" name="job" value="3" >
                                    <span>パート・アルバイト</span></label>
                                <label class="radio">
                                    <input type="radio" name="job" value="4" >
                                    <span>主婦</span></label>
                                <label class="radio">
                                    <input type="radio" name="job" value="5" >
                                    <span>年金生活者</span></label></td>
                        </tr>
                        <tr>
                            <th>生命保険販売経験の有無<small class="required">必須</small></th>
                            <td class="  "><label class="radio">
                                    <input type="radio" name="insurance_sales_exp" value="1" >
                                    <span>あり</span></label>
                                <label class="radio">
                                    <input type="radio" name="insurance_sales_exp"  value="0" >
                                    <span>なし</span></label></td>
                        </tr>
                        <tr>
                            <th>この説明会をどこでお知りになりましたか？<small class="required">必須</small></th>
                            <td class="  "><label class="radio">
                                    <input type="radio" name="channel" value="1" >
                                    <span>楽天生命の代理店</span></label>
                                <span class="agency-name">（代理店名：
                                    <input type="text" name="agency_name" maxlength="80" value="">
                                ）</span><br />
                                <label class="radio">
                                    <input type="radio" name="channel"  value="2" >
                                    <span>友人、知人</span></label>
                                <label class="radio">
                                    <input type="radio" name="channel"  value="3" >
                                    <span>インターネット</span></label>
                                <label class="radio">
                                    <input type="radio" name="channel"  value="4" >
                                    <span>メルマガ</span></label>
                                <label class="radio">
                                    <input type="radio" name="channel"  value="5" >
                                    <span>その他</span></label></td>
                        </tr>
                        <tr>
                            <th>説明会でお聞きになりたいこと<small class="arbitrary">任意</small></th>
                            <td class="  "><p>
                                    <textarea name="description" cols="30" rows="10" title="" maxlength="400"></textarea>
                                </p>
                                <p>※ 全角400字以内</p></td>
                        </tr>
                        <tr>
                            <th>個人情報の取扱いについて<small class="required">必須</small></th>
                            <td class="  "><p>ご入力いただいた個人情報を送信される前に、当社のプライバシーポリシー及び以下の内容をご確認いただき、同意の上お申し込みください。<br>
                                    <a href="http://www.rakuten-life.co.jp/privacy/" target="_blank" class="link-privacy">＞プライバシーポリシー</a></p>
                                <p>ご入力いただいた個人情報は以下の利用目的の範囲内で利用し、その利用目的の達成に必要な範囲を超えた取扱いは行いません。</p>
                                <p>◆利用目的<br>
                                    ・当社事業の情報提供、運営管理、商品・サービス等のご案内・提供、維持管理、開発・充実<br>
                                    ・その他上記業務に関連・付随する業務</p>
                                <p class="privacy">楽天生命保険株式会社のプライバシーポリシーに同意し、記載の内容を確認の上、楽天生命説明会への参加を申込みます。
                                    <label class="checkbox btn-agree">
                                        <input type="checkbox" name="is_agree" value="1" id="agree" >
                                        <span>はい</span></label>
                                </p>
                            </td>
                        </tr>
                    </table>
                    <div class="btn-form">
                        <button type="submit" name="next" id="next"><span>送信内容を確認</span></button>
                    </div>

                    <input type="hidden" name="hiddenSeminarId" id="hiddenSeminarId" value=""/>
                </form>
            </div>
        </section>
        <section class="inquiry">
            <div class="section-inner">
                <p class="img"><img src="/shared/img/bnr_inquiry.jpg" alt="お気軽にお問い合わせください"></p>
            </div>
        </section>
    </main>
    <!-- #container -->

    <div id="page-top"><a href="#container"><span>ページの先頭に戻る</span></a></div>
    <footer id="footer">
        <ul class="link">
            <li><a href="/">ホーム</a></li>
            <li><a href="/about/">代理店制度について</a></li>
            <li><a href="/seminar/apply/input/">説明会への参加申込み</a></li>
        </ul>
        <p class="copyright">Copyright&copy; Rakuten Life Insurance Co., Ltd. All Rights Reserved.</p>
    </footer>

    <script src="/shared/js/basic.js"></script>
    <script type="text/javascript">
        (function($){
            $(function(){
                $('#page-ttl').backstretch('/shared/img/ttl_seminar.jpg');
            });
        })(jQuery);
    </script>
    <script src="/shared/js/jquery.magnific-popup.js"></script>
    <script src="/shared/js/jquery.narrows.js"></script>
    <script src="/shared/js/mapstyle.js"></script>
    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyDbK11Zep12dzgQNccr_eZDP4E3AXu1GLU" async defer></script>

    <script type="text/javascript">
        var address = "";
        //google map api
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map_canvas'), {
                zoom: 18,
                center: {lat: 34.397, lng: 150.644}
            });
            var geocoder = new google.maps.Geocoder();

            geocodeAddress(geocoder, map);
        }

        function geocodeAddress(geocoder, resultsMap) {
            geocoder.geocode({'address': address}, function(results, status) {
                if (status === google.maps.GeocoderStatus.OK) {
                    resultsMap.setCenter(results[0].geometry.location);
                    var marker = new google.maps.Marker({
                        map: resultsMap,
                        position: results[0].geometry.location
                    });
                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });
        }


        $(function () {

//エリアで都道府県を絞り込む
            $("#area").narrows("#pref");

            $('#pref').change(function(){

                scheduleNumber = 0;

                if($("#pref").val() == "") {

                    $("#prefecture").val("");
                    $("#hasSchedule").hide();
                    $("#noSchedule").hide();

                } else {
                    $("#prefecture").val($("#pref").val());
                    searchSeminar();
                }
            });
        });


        //数字のみ入力
        function key_down(get_code){
            if(
                get_code >= 48 && get_code <= 57  //数字キー
                || get_code >= 96 && get_code <= 105 //テンキーの数字
                || get_code == 8 //bs
            )
                return true;
            else
                return false;
        }

        function searchSeminar(){
            $.ajax({
                dataType: "json",
                url: "https://partner.rakuten-life.co.jp/seminar/apply/search"+"?pref="+$('#pref').val(),
                success: function(XMLHttpRequest) {
                    showSeminarList(XMLHttpRequest.seminarList);
                    $("#hiddenSeminarId").val('');
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    console.log(XMLHttpRequest);
                }
            });
        }

        function showSeminarList(seminarList){
            console.log(seminarList);
            if ($('#prefecture').val() == "") {
                $('#prefecture').val($('#pref').val());
            }
            var state = $('#pref').val();
            removeChildNode("seminarListDiv");
            for (var i=0; i<seminarList.length; i++) {
                createListItem(seminarList[i]);
            }

            $(".flag").each(function () {
                $(".seminar").show();
                if($(this).val() == state)  {
                    $(this).parent("li") . show();
                    scheduleNumber++;
                } else {
                    $(this).parent("li") . hide();
                }
            });

            if(scheduleNumber >= 1){
                $("#hasSchedule").show();
                $("#noSchedule").hide();
            } else {
                $("#hasSchedule").hide();
                $("#noSchedule").show();
            }

            //モーダル
            $('.popup-modal').magnificPopup({
                type: 'inline',
                preloader: false
            });
            //閉じるリンクの設定
            $(document).on('click', '.popup-modal-dismiss', function (e) {
                e.preventDefault();
                $.magnificPopup.close();
            });

            $('.popup-modal').click(function(){
                address = $(this).parent("li").find('.googleAddress').val();

                //alert(address);
                initMap();
                $("#address_content").val(address);
                $("dd.date").text($(this).parent("li").find("#schedule").val());
                $("dd.address").text($(this).parent("li").find("#place").val());
                $("dd.responsible").text($(this).parent("li").find("#in_charge").val());
                $("dd.tel").text($(this).parent("li").find("#contact").val());
            });
        }

        function createListItem(seminar){
            var seminarDiv = document.getElementById("seminarListDiv");

            var seminarList = document.createElement("li");
            seminarList.className = "schedule";
            seminarList.style.display = "none";
            seminarDiv.appendChild(seminarList);

            var flg = document.createElement("input");
            flg.type = "hidden";
            flg.className = "flag";
            flg.value = $('#pref').val();
            seminarList.appendChild(flg);

            var googleAddress = document.createElement("input");
            googleAddress.type = "hidden";
            googleAddress.className = "googleAddress";
            googleAddress.value = seminar.address_detail;
            seminarList.appendChild(googleAddress);

            var schedule = document.createElement("input");
            schedule.type = "hidden";
            schedule.id = "schedule";
            schedule.value = seminar.seminar_date + '　(' + seminar.weekday + ') ' + '　' + seminar.start_time + '～' + seminar.end_time;
            seminarList.appendChild(schedule);

            var place = document.createElement("input");
            place.type = "hidden";
            place.id = "place";
            place.value = seminar.address_detail+'　'+seminar.address_detail_notes;
            seminarList.appendChild(place);

            var hostDepartmentName = document.createElement("input");
            hostDepartmentName.type = "hidden";
            hostDepartmentName.id = "in_charge";
            hostDepartmentName.value = seminar.host_department_name;
            seminarList.appendChild(hostDepartmentName);

            var phone = document.createElement("input");
            phone.type = "hidden";
            phone.id = "contact";
            phone.value = seminar.host_phone_num;
            seminarList.appendChild(phone);

            var radio = document.createElement("label");
            radio.className = "radio";

            var checkText = "";
            if (seminar.seminar_id == $("#hiddenSeminarId").val()) {
                checkText = "checked='checked'";
            }

            radio.innerHTML = '<input type="radio" name="seminar_id" value="'+seminar.seminar_id+'" '+checkText+'/><span>'+seminar.seminar_date + '　(' + seminar.weekday + ') ' + '　' + seminar.start_time + '～' + seminar.end_time + '　' + seminar.address+'</span></label>';
            seminarList.appendChild(radio);

            var popup = document.createElement("a");
            popup.className = "popup-modal";
            popup.href = "#inline-wrap";
            popup.innerHTML = "地図";
            seminarList.appendChild(popup);
        }

        function removeChildNode(elementId){
            var node = document.getElementById(elementId);
            while (node.firstChild) {
                node.removeChild(node.firstChild);
            }
        }

    </script>

</div><!-- /.layout-wrapper -->
<!-- ======================== Common Tags ================================ -->
<!-- YTMタグ '14.08.27 -->
<script type="text/javascript">
    (function () {
        var tagjs = document.createElement("script");
        var s = document.getElementsByTagName("script")[0];
        tagjs.async = true;
        tagjs.src = "//s.yjtag.jp/tag.js#site=ALGt7YF,UFNqYdo,Lcxo04D,WYi5Qla,jxDE9q3";
        s.parentNode.insertBefore(tagjs, s);
    }());
</script>
<noscript>
    <iframe src="//b.yjtag.jp/iframe?c=ALGt7YF,UFNqYdo,Lcxo04D,WYi5Qla,jxDE9q3" width="1" height="1" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
</noscript>
<!-- /YTMタグ -->

<!-- SiteCatalyst(start) -->
<script type="text/javascript" src="//www.rakuten-life.co.jp/scodejs/s_accountSetting.js"></script>
<script type="text/javascript" src="//www.rakuten-life.co.jp/scodejs/s_codeCommon.js"></script>
<script type="text/javascript" src="/common/inc/s_customTracking.js?20160529"></script>
<script type="text/javascript">
    try {var s_code=s.t();if(s_code)document.write(s_code);} catch(e) {rakutenSC.log(e);}
</script>
<!-- SiteCatalyst(end) -->

</body>
</html>
